/* Your CSS here. */
body {
  font-family: "Times New Roman", Times, serif;
  margin: 20px;
  background-color: rgb(94, 89, 89);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-photo {
  height: 150px;
  width: 150px;
}

.description-text {
  text-align: center;
  max-width: 600px;
  font-weight: bold;
}
